// Colors
$dark-blue: #191641;
$purple: #6F3DF4;
$white: #FAFAFA;
$orange: #F2C335;
$light-bg: #F5F8FF;

// Shadows
$small-shadow: 0 5px 20px rgba(97, 97, 97, 0.145);
$big-shadow: 0 20px 25px rgba(164, 171, 178, 0.145);

// Transitions
$ease: 0.3s;